# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kratos\Desktop\FACULTAD\arq\PROYECTO\PROYECTO WALTER\proyecto-back-walter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
